

<div class="dashboard-header">
    <div class="dashboard-title">Dashboard</div>
    <div class="dashboard-controls">
        <md-menu>
            <md-button class="md-raised md-primary" ng-click="$mdOpenMenu($event)">Add widget</md-button>
            <md-menu-content width="2">
                <md-menu-item ng-repeat="widget in widgetDefinitions">
                    <md-button ng-click="addNewWidget(widget)">
                        {{widget.title}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>

<div style="clear: both;"></div>

<div gridster="gridsterOpts">
    <ul>
        <li gridster-item="item" ng-repeat="item in widgets">
            <widget-body>
            </widget-body>
        </li>
    </ul>
</div>