
.dashboard {
    margin: 0;
    width: 100%;
}

.gridster .gridster-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    overflow: hidden;
}

.widget-header {
    position: relative;
    color: white;
    font-size: 18px;
    border-bottom: 1px solid black;
    min-height: 30px;
}

.widget-header-buttons {
    position: absolute;
    top: 0;
    right: 0;
}

.widget-header-buttons .btn {
    margin: 4px;
    margin-top: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.widget-body {
    position: relative;
}

.dashboard-header {
}

.dashboard-title {
    padding: 5px;
    float: left;
    font-size: 20px;
    color: gray;
}

.dashboard-controls {
    float: right;
}

.widget-menu-area {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 22px;
}

.widget-menu-area .dropdown-menu {
    left: -20px;
    padding-left: 15px;
}

.widget-menu-area a {
    color: white;
}

.widget-menu-area i {
    cursor: pointer;
}

.dropdown-backdrop {
    position: static;
}