@{
    ViewBag.Title = "Add workout";
}

<div></div>
<div class="row">
    <div class="col-lg-12">
        <h1>Workout <small>Enter new</small></h1>
        <ol class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-edit"></i> Workout</li>
        </ol>
    </div>
</div>

<div class="row" ng-controller="WorkoutController">
    <div class="col-lg-6">

        <table class="table table-bordered table-hover tablesorter">
            <thead>
                <tr>
                    <th class="header">Start <i class="fa fa-sort"></i></th>
                    <th class="header">Km <i class="fa fa-sort"></i></th>
                    <th class="header">Speed <i class="fa fa-sort"></i></th>
                    <th class="header">Duration <i class="fa fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="w in workouts">
                    <td>{{w.StartDateTime}}</td>
                    <td>{{w.Length}}</td>
                    <td>{{w.AvgSpeed}}</td>
                    <td>{{w.ElapsedMinutes}}:{{w.ElapsedSeconds}}</td>
                </tr>
            </tbody>
        </table>

        <form ng-submit="submit()">

            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="name" ng-model="formData.name">
            </div>

            <div class="form-group">
                <label>Dato</label>
                <quick-datepicker ng-model='formData.startDateTime' date-format='dd-MM-yyyy' placeholder="Pick a date" disable-timepicker="true"></quick-datepicker>
            </div>

            <div class="form-group">
                <label>Selects</label>
                <select ng-model="formData.Id" class="form-control" ng-options="r.Id as r.Name for r in raceTypes"></select>
            </div>

            <div class="form-group">
                <label>Race length (km)</label>
                <input class="form-control workout-form-number-item" name="Length" ng-model="formData.Length">
            </div>

            <div class="form-group workout-duration">
                <label>Duration</label>
                <input class="form-control workout-form-number-item workout-duration-item" placeholder="HH" name="elapsedHours" ng-model="formData.elapsedHours" />
                <input class="form-control workout-form-number-item workout-duration-item" placeholder="MM" name="elapsedMinutes" ng-model="formData.elapsedMinutes" />
                <input class="form-control workout-form-number-item workout-duration-item" placeholder="SS" name="elapsedSeconds" ng-model="formData.elapsedSeconds" />
            </div>

            <div class="form-group">
                <label>Avg speed (km/h)</label>
                <input class="form-control workout-form-number-item" name="avgSpeed" ng-model="formData.avgSpeed">
            </div>

            <div class="form-group">
                <input type="submit" value="Save" ngclick="Submit" />
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
