@{
    ViewBag.Title = "Races";
}

<div></div>
<div class="row">
    <div class="col-lg-12">
        <h1>Race <small></small></h1>
        <ol class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-edit"></i> Races</li>
        </ol>
    </div>
</div>

<div class="row" ng-controller="RaceController">
    <div class="col-lg-6">

        <table class="table table-bordered table-hover tablesorter">
            <thead>
                <tr>
                    <th class="header">Name <i class="fa fa-sort"></i></th>
                    <th class="header">Type <i class="fa fa-sort"></i></th>
                    <th class="header">Length <i class="fa fa-sort"></i></th>
                    <th class="header"> <i class="fa fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in races">
                    <td>{{r.Name}}</td>
                    <td>{{r.RaceTypeId}}</td>
                    <td>{{r.RaceLength}}</td>
                    <td><a data-toggle="modal" href="#myModal" ng-click="getRace(r.Id)">Edit</a></td>
                </tr>
            </tbody>
        </table>
        <!-- Button trigger modal -->
        <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Add new race</a>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add new race</h4>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="submit()" name="form">

                            <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" name="name" ng-model="formData.name">
                            </div>

                            <div class="form-group">
                                <label>Selects</label>
                                <select ng-model="formData.raceTypeId" name="raceTypeId" class="form-control" ng-options="r.Id as r.Name for r in raceTypes"></select>
                            </div>

                            <div class="form-group">
                                <label>Race length (km)</label>
                                <input class="form-control workout-form-number-item" name="raceLength" ng-model="formData.raceLength">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submit()">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
    </div>
</div>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
