.widget-workout-preview {
    display: flex; 
    flex-direction: column;
    height: 100%;
}

.widget-workout-preview-content {
    padding: 5px;
    flex: 1;
}

    .widget-workout-preview-content .workout-preview-header {
        display: flex;
        margin-bottom: 15px;
    }

        .widget-workout-preview-content .workout-preview-header .workout-preview-header-icon {
            flex: 1;
        }

        .widget-workout-preview-content .workout-preview-header .workout-preview-header-title {
            flex: 4;
            font-size: 24px;
        }

    .widget-workout-preview-content .workout-preview-details {
        display: flex;
    }

        .widget-workout-preview-content .workout-preview-details .workout-preview-details-item {
            flex: 1;
        }

            .widget-workout-preview-content .workout-preview-details .workout-preview-details-item .workout-preview-details-label {
                font-size: 18px;
                color: black;
            }

            .widget-workout-preview-content .workout-preview-details .workout-preview-details-item .workout-preview-details-label {
                font-size: 12px;
                color: gray;
            }

.widget-footer {
    display: flex;
    background-color: lightskyblue;
    line-height: 30px;
}

.widget-pagination {
    margin-left: 20px;
    flex: 1;
    display: flex;
}

    .widget-pagination .page-previous {
        flex: 1;
    }

    .widget-pagination .page-next {
        flex: 1;
    }

    .widget-pagination .icon {
        color: white;
        cursor: pointer;
    }

.widget-date {
    flex: 4;
    color: white;
    font-size: 12px;
}