/* Workout 
----------------------------------------------------------*/
.workout-form-number-item {
    width: 20%;
}

.workout-duration {
    width: 30%;

}

    .workout-duration .workout-duration-item {
        display: inline;
    }

