<div class="new-workout">
    <div class="title">New workout!</div>
    <div class="new-workout-content">
        <form ng-submit="submit()" name="workoutform">
            <div layout="row">
                <div layout="row" flex="100">
                    <div flex="33">
                        <md-input-container>
                            <label>Description</label>
                            <input name="name" ng-model="formData.name">
                        </md-input-container>
                    </div>
                    <div flex="33">
                        <md-input-container>
                            <label>Type</label>
                            <md-select ng-model="formData.raceTypeId" name="raceTypeId">
                                <md-option ng-repeat="raceType in raceTypes" value="{{raceType.id}}">
                                    {{raceType.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="33">
                        <md-datepicker ng-model='formData.startDateTime' md-placeholder="Enter a date"></md-datepicker>
                    </div>
                </div>
            </div>
            <div layout="row">
                <div flex="100" layout="row">
                    <div flex="33">
                        <md-input-container>
                            <label>Race length (km)</label>
                            <input name="length" type="number" ng-model="formData.length">
                        </md-input-container>
                    </div>
                    <div flex="33">
                        <md-input-container>
                            <label>Avg speed (km/h)</label>
                            <input name="avgSpeed" ng-model="formData.avgSpeed">
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div layout="row">
                <div layout="row" flex="100">
                    <div flex="33">
                        <md-input-container>
                            <input placeholder="HH" name="elapsedHours" ng-model="formData.elapsedHours"/>
                        </md-input-container>
                    </div>
                    <div flex="33">
                        <md-input-container>
                            <input placeholder="MM" name="elapsedMinutes" ng-model="formData.elapsedMinutes"/>
                        </md-input-container>
                    </div>
                    <div flex="33">
                        <md-input-container>
                            <input placeholder="SS" name="elapsedSeconds" ng-model="formData.elapsedSeconds"/>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div>
                <md-button class="md-raised" ng-click="submit()">OK</md-button>
                <md-button class="md-raised" ng-click="cancel()">Cancel</md-button>
            </div>
        </form>
    </div>

    <div id="map" mapbox workout-id="{{workoutId}}" coords="gpsCoords" style="float: right;"></div>
</div>