.new-workout {

    .new-workout-description {
        width: 500px;
    }

    .new-workout-duration {

        .item {
            display: inline-block;
            width: 30px;
        }
    }
}
    